.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  --color-primary: #008374;
  --color-secondary: #70b59f3a;
  --color-tertiary: #2e2e2e;
  --color-quaternary: #f1cb21;
  --color-quinary: #f1cb21c4;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}
* {
  margin: 0;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
}
#root {
  height: 100%;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);  /* This will make it slightly translucent */
  z-index: 10;  /* Ensure the overlay is above the game board */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 5vh;
}

.main-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: x-large;
  background-color: var(--color-primary);
  width: 100%;
  height: 13vh;
}

.rules-container {
  width: 80%;
  max-width: 800px;
  min-width: 310px;
}
.rules {
  padding-inline: 50px;
  padding-block: 10px;
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: large;
}

.text-header {
  display: flex;
  flex-direction: column;
  font-size: medium;
  text-align: center;
  justify-content: start;
  width: 100%;
}

.text-header p {
  text-decoration: underline;
}

.selected {
  border: #b59f3a;
  border-style: solid;
}

.debug-button {
  font-size: medium;
  color: hsl(0, 0%, 18%);
  font-weight: bolder;
  background-color: #ffc965;
  text-decoration: none;
  align-self: end;
}

.debug-box {
  color: var(--color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffc965;
  border-radius: 10px;
}

.debug-box input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: #888;
  font-size: x-large;
  text-align: center;
}

.debug-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3a3a3c;
  margin: 4px;
  border-radius: 20px;
  font-size: x-large;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.difficulty-button {
  height: 80px;
  width: 100%;
  background-color: rgba(0, 146, 130);
}

.game-container {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title-container div{
  text-align: center;
  width: 510px;
  border-bottom: solid 1px #ffffff;
}

.game-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  width: 100%;
  gap: 20px;
  padding-block: 10px;
}
.goal-container {
  justify-content: center;
  display: flex;
}

.goal-container p {
  align-self: center;
  background-color: rgba(0, 146, 130);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  font-size: x-large;
}

.timer-container p {
  font-size: medium;
}
.operboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#operboard-shape {
  width: 110px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  /* rotate: 45deg; */
  position: relative;
  justify-content: center;
  align-content: center;
}

.operboard-container p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* rotate: -45deg; */
}
.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  padding: 0;
  margin: .1vw .1vh;
}

.operator p {
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: #ffffff00;  
}
button.operator {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
#plus {
  background-image: url('../public/game_assets/plus.png');
}
#minus {
  background-image: url('../public/game_assets/minus.png');
}
#times {
  background-image: url('../public/game_assets/times.png');
}
#div {
  background-image: url('../public/game_assets/div.png');
}
button.selected {
  background-color: rgba(255, 255, 255, 0.7);
  border: var(--color-primary) solid 2px;
}
#plus.selected {
  background-image: url('../public/game_assets/plus_select.png');
}
#minus.selected {
  background-image: url('../public/game_assets/minus_select.png');
}
#times.selected {
  background-image: url('../public/game_assets/times_select.png');
}
#div.selected {
  background-image: url('../public/game_assets/div_select.png');
}

.keyboard-spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 28%;
}
.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

button {
  border-radius: 50px;
  border: none;
  background-color: var(--color-primary);
  font-size: x-large;
}

.keyboard-container button {
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-primary);
  margin: 4px; 
  font-size: x-large;
}

.controls-container {
  display: flex;
  width: 87%;
  max-width: 900px;
  justify-content: center;
  gap: 8vw;
  margin-bottom: 1vh;
}

.control {
  font-size: medium;
  height: 5vh;
  padding: 0;
}
/* .controls-container .oper {
  width: 60px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-primary);
  margin: 10px; 
} */
.board-tile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.int {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  background-color: var(--color-secondary);
  box-sizing: border-box;
  height: 150px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-halo {
  border-style: solid;
  border-width: 15px;
  border-color: var(--color-quaternary);
}
.default , .default li {
  color: #ffffff85 !important;
  font-style: italic;
  font-size: medium
}

.message-container {
  bottom: 5em;
  position: absolute;
  display: flex;
  height: 65%;
  width: 80%;
  background-color: var(--color-secondary);
  border-radius: 50px;
  border: var(--color-primary) solid 5px;
  justify-content: center;
  align-items: center;
  background-image: url('../public/game_assets/shine.png');
  background-repeat: no-repeat;
  background-position: center;  
  z-index: 10;
}

.message-container p {
  font-size: medium;
  color: var(--color-tertiary);
}

.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}

.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}

.stat {
  display: flex;
  flex-direction: column;
}

#Local.stat li {
  flex-direction: row;
}

.stat-spacer {
  height: 30vh;
  margin-top: 2vh;
}


.stats-board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats-container ul  {
  display: flex;
  justify-content: space-between;
  padding-inline: 2vw;
  padding-block: 1vh;
  background-color: rgba(0, 146, 130);
  border-radius: 10px;
}
.stats-container li {
  list-style-type: none;
  padding-block: 3px;
  padding-inline: 5px;
  margin: 0%;
  display: flex;
  flex-direction: row;
}
.stats-board-header {
  font-size: x-large;
  font-weight: bold;
  text-decoration-color: #282c34;
}
.stats-container li:not(.default) {
  font-size: large;
  align-self: center;
}

.stat-list {
  justify-content: space-around;
  align-items: center;
}
.stat ul.stat-title > li {
  font-size: x-large;
}
.user {
  color:#3b3b3b
}

#Local {
  height: fit-content;
}

#Local > li {
  align-self: flex-start;
  
}

#Posted {
  height: 15vh;
  width: 100%;
  overflow-y: auto;
  transition: height 0.3s ease;
}

#Posted:hover {
  height: 20vh;
}
/* Chrome, Safari and newer versions of Opera */
#Posted::-webkit-scrollbar {
  width: 0;  /* remove vertical scrollbar */
  height: 0; /* remove horizontal scrollbar */
}

/* Firefox */
#Posted {
  scrollbar-width: none;
}

/* IE and Edge */
#Posted {
  -ms-overflow-style: none;
}


#game-over {
  height: auto;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin-bottom: 5em;
}

#game-over > h1 {
  font-size: 40pt;
  color: var(--color-primary);
}

.game-over-message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
  
}
.game-over-message-container > p {
  color: var(--color-primary);
}

.leaderboard-container {
  margin-inline: 1vw;
  margin-block: 2vh;
}   

.game-over-stats-container {    
  background-color: rgba(0, 146, 130);
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-over-stats-container > h2 {
  margin-block-end: 2vh;
}

.game-over-stats-container ol ol li {
  margin-inline: 7vw;
}

.over-score .over-value:nth-child(2) {
  font-size: large;
}


.game-over-stats-container ol ol {
  flex-direction: row;
}

.game-over-stats-container ol {
  height: 44vh;
  padding: 0%;
  margin: 0px;
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.game-over-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

#post-score {
  justify-content: center;
}

#post-score-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#post-score-form > label {
  font-size: large;
  color: var(--color-primary);
}

#post-score-form > .post-score-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#name {
  font-size: medium;
  color: #282c34;
}

.post-score-controls {
  width:inherit;
}

.post-score-controls > input {
  border: none;
  border-radius: 4px;
  font-size: large;
  background-color: #575757;
  padding-inline: 2vw;
  padding-block: 0.5vh;
}

#username {
  border: none;
  background-color: var(--color-primary);
  margin: 4px; 
  padding-block: 10px;
  font-size: x-large;
  text-align: center;
}

.score-banner h1 {
  font-size: 65px;
  margin: 0;
  padding: 0;
  padding-bottom: 1vh;
}

.score-banner p {
  font-size: 33px;
  margin: 0;
  padding: 0;
  padding-block: 1vh;
}

.score-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  bottom: 0;
  position: relative;
  width: 100%;
  z-index: 8;
  height: 5em;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: var(--color-primary);
}

.company-logo {
  height: 40px;
  margin-left: 20px;
  opacity: 0.5;
}

.footer-note {
  font-size: 12px;
  color: #ffffff;
}
.difficulty-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  padding-inline: 20px;  
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.difficulty-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.difficulty-selected {
  animation: difficuly-select;
  animation-duration: 0.5s;
}

@keyframes difficuly-select {
  0% {
    background: radial-gradient(
      circle at 50%,
      var(--color-primary) 0%,
      var(--color-secondary) 50%,
      var(--color-primary),
      var(--color-secondary) 100%);
  }
  75% {
    background: radial-gradient(
      circle at 50%,
      var(--color-secondary) 50%,
      var(--color-primary) 50%,
      var(--color-primary) 50%,
      var(--color-secondary) 50%);
  }
  100% {
    background: radial-gradient(
      circle at 50%,
      var(--color-secondary) 100%,
      var(--color-primary) 0%,
      var(--color-primary) 50%,
      var(--color-secondary) 0%);
  }
}

form.debug-box {
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

form.debug-box input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.debug-box > button, label {
  height: 100%;
  width: 100%;
}
.stats-container {
  flex-direction: column;
  padding: 0%;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

#Local > ul {
  flex-direction: column;
}
#Local {
  flex-direction: row;
}

.thirds {
  width: 33.33%;
}
@media screen and (min-width: 900px) {
  .overlay {
    height: 100%;
    justify-content: space-between;
  }
  .difficulty-container {
    width: 80%;
    max-width: 1200px;
    flex-direction: column;
  }
  .difficulty-buttons {
    flex-direction: row;
    justify-content: space-around;
  }
  
  form.debug-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .stats-container {
    width: 100%;
    max-width: 900px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #Local > ul {
    flex-direction: row;
  }
  #Local {
    flex-direction: column;
  }
  .game-header {
    flex-direction: row;
  }
  .operator {
    width: 100px;
    height: 100px;
  }
  #operboard-shape {
    width: 220px;
    height: 220px;
  }
  .board-tile-container {
    max-width: 600px;
  }
  .int {
    font-size: 80pt;
    height: 200px;
    width: 150px;
  }
  .control {
    font-size: x-large;
  }
}